{% load i18n %}{% autoescape off %}
{% blocktrans with username=user.username %}Hallo {{ username }},{% endblocktrans %}

{% trans "du hast angefordert, dein Passwort für HomeGym zurückzusetzen." %}

{% trans "Klicke auf den folgenden Link, um ein neues Passwort zu setzen:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Falls du diese Anfrage nicht gestellt hast, kannst du diese E-Mail ignorieren. Dein Passwort bleibt unverändert." %}

{% trans "Der Link ist 24 Stunden gültig." %}

---
{% trans "Dein HomeGym Team" %}
https://gym.last-strawberry.com
{% endautoescape %}
